
/* global styling */

*,
*::before,
*::after {
    box-sizing: border-box;
}


body {
    margin: 0;

    font-size: 1.125em;
    
    background-color: hsl(0, 0%, 96%);

    font-family:'Segoe UI', sans-serif;
}

header {
    position: sticky;
    top:0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 0.5rem 2rem;
        
    background: hsl(0, 0%, 99%);

    box-shadow: 0 4px 8px hsl(0 0% 0% / 0.1);

    z-index: 1;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.primary-navigation {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

main {
    display: flex;
   
    justify-content: center;
    padding-top: 2rem;
    
    gap: 3rem;
}

.grid-layout {
    display: grid;
    grid-template-columns: 1.618fr 1fr;
}

.flex-layout {
    display: flex;
    align-items: center;
    gap: 1.1rem;
}

section div {
    margin-bottom: 2rem;
}

.center {
    display: flex;
    justify-content: center;
}


/* image styling  */

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.logo {
    display: block;
    width: 32px;
    height: 32px;
    background-color: rgb(24, 209, 113);
    border-radius: 20rem;
}


/* text styling */

.logo-brand {
    font-size: 1.2rem;
    font-weight: 600;
}


/* link styling */

.nav-link,
.nav-link:visited {
    color: black;
    font-weight: 400;
    
    text-underline-offset: 2em;
    text-decoration-color: transparent;
    transition: text-decoration-color 250ms ease-in-out,
                text-underline-offset 250ms ease-in-out,
                color 250ms ease-in-out;
    
}

.nav-link:hover,
.nav-link:focus {
    color: rgb(9, 242, 122);
}

.nav-link:hover,
.nav-link.selected {
    text-decoration: underline;
    text-underline-offset: 0.5em;
    text-decoration-color: rgb(102, 195, 144);
    text-decoration-thickness: 0.17em;
} 

.nav-link:active {
   color: black;
   text-decoration-color: black;
   box-shadow: 0 4px 8px 
}  


.small {
    padding: 0.5rem 1.2rem;
    font-size: inherit;
}


/* animation styling */

.ref-image {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.fade-in {
    opacity: 1;
}

.fade-out {
    opacity: 0;
}